# Backend
NODE_ENV=development
DATABASE_URL=postgres://polluser:pollpass@db:5432/polldb
PORT=4000
ISS=poll-app
AUD=poll-app-client
FRONTEND_URL=http://localhost:3000

# Frontend
BACKEND_URL=http://localhost:4000

# Database
POSTGRES_USER=polluser
POSTGRES_PASSWORD=pollpass
POSTGRES_DB=polldb
